* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #d3d3d3;
}

.page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px #792013;
}

#clock-box {
    font-size: 2.3em;
    font-family: 'Cute Font';
    color: white;
    text-shadow: 1px 1px black;

}

#clock {
    font-family: 'Andale Mono';
    color: #793B90;
    text-shadow: 1px 1px white;
    font-size: 1em;
}

h1 {
    /*font-family: /'Press Start 2P';*/
    font-family: 'ZCOOL KuaiLe';
    color: hsl(11, 76%, 56%);
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 275px;
    background-image: url(assets/tomato_cat.jpg);
    background-size: cover;
    font-family: 'Cute Font';
    line-height: 500px;
    font-size: 50px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 80px;
}

.times {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cute Font';
    font-size: 30px;
    color: #793B90;
    text-shadow: 1px 1px white;
    align-items: center;
}

.time-row {
    height: 80px;
}

select {
    background-color: #999999;
    color: white;
    border: 1px solid white;
    transition-property: background-color, width;
    transition: .25s;
    transition-timing-function: ease;
}

select:hover {
    border: 1px solid black;
    background-color: #B8B8B8;
}

.party-button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /*font-family: 'Press Start 2P';*/
    font-family: 'ZCOOL KuaiLe';
    background-color: hsl(11, 76%, 56%);
    border: 2px solid #792013;
    height: 40px;
    width: 160px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    text-shadow: 2px 2px #792013;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: middle;
    transition-property: background-color, width;
    transition: .25s;
    transition-timing-function: ease;
}

.party-button:hover {
     background-color: #B6462D;
     width: 164px;
}

ion-icon {
    color: white;
    vertical-align: middle;
    margin-left: 5px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2.5em;
    text-align: center;
    font-family: 'ZCOOL KuaiLe';
    font-size: .75em;
    color: white;
}

/*

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
    width: 65%;
    border-radius: 10px;
}

#picture-text {
    z-index: 100;
    position: absolute;

.time-settings {
    background-color: #8888;
    border: 2px solid #999999;
}

.time-input {
    width: 100px;
    text-align: center;
    font-family: 'ZCOOL KuaiLe';
    font-size: 15px;
    align-items: center;

}

.time-input:hover {

}*/
